<p>Hey <%=locals.name%></p>
<p>You have just been given a <%=locals.type%> form to fill out</p>
<p>FormID: <%=locals.formId%></p>
<p>
    <a href="<%=locals.viewFormUrl%>">View Form</a>
</p>

<p>Please fill out this form and submit it to manager as soon as possible</p>

