<p>Hey <%=locals.name%></p>
<p>You just register an account in our system</p>
<p>Username: <%=locals.username%></p>
<p>Password: <%=locals.password%></p>
<p>After loged in, we recommend to change your password</p>
